In [3]:
import pandas as pd
import numpy as np

In [4]:
pokemon_df = pd.read_csv('pokemon.csv')

In [5]:
pokemon_df.head(10)
###df.tail() -> Mostra as últimas linhas
###df.sample() -> Sorteia

,national_number,gen,english_name,japanese_name,primary_type,secondary_type,classification,percent_male,percent_female,height_m,...,evochain_1,evochain_2,evochain_3,evochain_4,evochain_5,evochain_6,gigantamax,mega_evolution,mega_evolution_alt,description
0,1,I,Bulbasaur,Fushigidane,grass,poison,Seed Pokémon,88.14,11.86,0.7,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,NaN,NaN,NaN,There is a plant seed on its back right from t...
1,2,I,Ivysaur,Fushigisou,grass,poison,Seed Pokémon,88.14,11.86,1.0,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,NaN,NaN,NaN,"When the bulb on its back grows large, it appe..."
2,3,I,Venusaur,Fushigibana,grass,poison,Seed Pokémon,88.14,11.86,2.0,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,Gigantamax Venusaur,Mega Venusaur,NaN,Its plant blooms when it is absorbing solar en...
3,4,I,Charmander,Hitokage,fire,NaN,Lizard Pokémon,88.14,11.86,0.6,...,Level,Charmeleon,Level,Charizard,NaN,NaN,NaN,NaN,NaN,It has a preference for hot things. When it ra...
4,5,I,Charmeleon,Lizardo,fire,NaN,Flame Pokémon,88.14,11.86,1.1,...,Level,Charmeleon,Level,Charizard,NaN,NaN,NaN,NaN,NaN,"It has a barbaric nature. In battle, it whips ..."
5,6,I,Charizard,Lizardon,fire,flying,Flame Pokémon,88.14,11.86,1.7,...,Level,Charmeleon,Level,Charizard,NaN,NaN,Gigantamax Charizard,Mega Charizard X,Mega Charizard Y,It spits fire that is hot enough to melt bould...
6,7,I,Squirtle,Zenigame,water,NaN,Tiny Turtle Pokémon,88.14,11.86,0.5,...,Level,Wartortle,Level,Blastoise,NaN,NaN,NaN,NaN,NaN,"When it retracts its long neck into its shell,..."
7,8,I,Wartortle,Kameil,water,NaN,Turtle Pokémon,88.14,11.86,1.0,...,Level,Wartortle,Level,Blastoise,NaN,NaN,NaN,NaN,NaN,It is recognized as a symbol of longevity. If ...
8,9,I,Blastoise,Kamex,water,NaN,Shellfish Pokémon,88.14,11.86,1.6,...,Level,Wartortle,Level,Blastoise,NaN,NaN,Gigantamax Blastoise,Mega Blastoise,NaN,It crushes its foe under its heavy body to cau...
9,10,I,Caterpie,Caterpie,bug,NaN,Worm Pokémon,50.2,49.8,0.3,...,Level,Metapod,Level,Butterfree,NaN,NaN,NaN,NaN,NaN,"For protection, it releases a horrible stench ..."

### Resumo estatistico

In [6]:
pokemon_df.info() #Informações sobre o DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 898 entries, 0 to 897
Data columns (total 55 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   national_number     898 non-null    int64
 1   gen                 898 non-null    object
 2   english_name        898 non-null    object
 3   japanese_name       898 non-null    object
 4   primary_type        898 non-null    object
 5   secondary_type      469 non-null    object
 6   classification      898 non-null    object
 7   percent_male        776 non-null    object
 8   percent_female      776 non-null    object
 9   height_m            898 non-null    float64
 10  weight_kg           898 non-null    float64
 11  capture_rate        898 non-null    object
 12  base_egg_steps      898 non-null    int64
 13  hp                  898 non-null    int64
 14  attack              898 non-null    int64
 15  defense             898 non-null    int64
 16  sp_attack           898 non-null    int64
 17  sp_defense          898 non-null    int64
 18  speed               898 non-null    int64
 19  abilities_0         898 non-null    object
 20  abilities_1         495 non-null    object
 21  abilities_2         3 non-null      object
 22  abilities_hidden    763 non-null    object
 23  against_normal      898 non-null    float64
 24  against_fire        898 non-null    float64
 25  against_water       898 non-null    float64
 26  against_electric    898 non-null    float64
 27  against_grass       898 non-null    float64
 28  against_ice         898 non-null    float64
 29  against_fighting    898 non-null    float64
 30  against_poison      898 non-null    float64
 31  against_ground      898 non-null    float64
 32  against_flying      898 non-null    float64
 33  against_psychict    898 non-null    float64
 34  against_bug         898 non-null    float64
 35  against_rock        898 non-null    float64
 36  against_ghost       898 non-null    float64
 37  against_dragon      898 non-null    float64
 38  against_dark        898 non-null    float64
 39  against_steel       898 non-null    float64
 40  against_fairy       898 non-null    float64
 41  is_sublegendary     898 non-null    int64
 42  is_legendary        898 non-null    int64
 43  is_mythical         898 non-null    int64
 44  evochain_0          898 non-null    object
 45  evochain_1          728 non-null    object
 46  evochain_2          728 non-null    object
 47  evochain_3          335 non-null    object
 48  evochain_4          332 non-null    object
 49  evochain_5          19 non-null     object
 50  evochain_6          19 non-null     object
 51  gigantamax          31 non-null     object
 52  mega_evolution      46 non-null     object
 53  mega_evolution_alt  2 non-null      object
 54  description         898 non-null    object
dtypes: float64(20), int64(11), object(24)
memory usage: 386.0+ KB

In [7]:
pokemon_df.describe()

,national_number,height_m,weight_kg,base_egg_steps,hp,attack,defense,sp_attack,sp_defense,speed,...,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy,is_sublegendary,is_legendary,is_mythical
count,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,...,898.000000,898.000000,898.000000,898.000000,898.000000,898.000000,898.00000,898.000000,898.000000,898.000000
mean,449.500000,1.185969,63.970045,7544.587973,69.031180,76.544543,71.886414,69.681514,69.876392,65.949889,...,0.999165,1.245546,0.994432,0.972717,1.057628,0.984131,1.08157,0.050111,0.022272,0.022272
std,259.374568,1.234222,119.430298,7101.313608,26.213707,29.665559,29.536184,29.372609,27.012142,28.456596,...,0.609120,0.702248,0.553163,0.365120,0.441639,0.497022,0.53157,0.218296,0.147648,0.147648
min,1.000000,0.100000,0.100000,1280.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,...,0.250000,0.250000,0.000000,0.000000,0.250000,0.250000,0.25000,0.000000,0.000000,0.000000
25%,225.250000,0.500000,8.500000,5120.000000,50.000000,55.000000,50.000000,46.250000,50.000000,45.000000,...,0.500000,1.000000,1.000000,1.000000,1.000000,0.500000,1.00000,0.000000,0.000000,0.000000
50%,449.500000,1.000000,27.000000,5120.000000,65.000000,75.000000,67.000000,65.000000,65.000000,65.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,0.000000,0.000000,0.000000
75%,673.750000,1.500000,65.000000,6400.000000,80.000000,95.000000,90.000000,90.000000,85.000000,85.000000,...,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.00000,0.000000,0.000000,0.000000
max,898.000000,20.000000,999.900000,30720.000000,255.000000,181.000000,230.000000,173.000000,230.000000,200.000000,...,4.000000,4.000000,4.000000,2.000000,4.000000,4.000000,4.00000,1.000000,1.000000,1.000000

# Selecionar subconjunto de um Dataframe

In [8]:
coluna_tipo = pokemon_df['primary_type'] #Selecionar uma coluna especifica

In [9]:
coluna_tipo

0         grass
1         grass
2         grass
3          fire
4          fire
         ...
893    electric
894      dragon
895         ice
896       ghost
897     psychic
Name: primary_type, Length: 898, dtype: object

In [10]:
name_type_df = pokemon_df[['english_name', 'primary_type']] #Juntando duas colunas

In [11]:
name_type_df.sample(5) #Sample sorteia um aleatório

    english_name primary_type
402        Shinx     electric
335      Seviper       poison
34      Clefairy        fairy
211       Scizor          bug
726   Incineroar         fire

In [15]:
name_evolucao_df = pokemon_df[['english_name', 'evochain_2', 'primary_type']]

In [17]:
name_evolucao_df.head(10)

  english_name  evochain_2 primary_type
0    Bulbasaur     Ivysaur        grass
1      Ivysaur     Ivysaur        grass
2     Venusaur     Ivysaur        grass
3   Charmander  Charmeleon         fire
4   Charmeleon  Charmeleon         fire
5    Charizard  Charmeleon         fire
6     Squirtle   Wartortle        water
7    Wartortle   Wartortle        water
8    Blastoise   Wartortle        water
9     Caterpie     Metapod          bug

# Filtrando linhas do Dataframe

In [18]:
grass_df = pokemon_df[pokemon_df['primary_type']== 'grass']

In [19]:
grass_df.head(10)

,national_number,gen,english_name,japanese_name,primary_type,secondary_type,classification,percent_male,percent_female,height_m,...,evochain_1,evochain_2,evochain_3,evochain_4,evochain_5,evochain_6,gigantamax,mega_evolution,mega_evolution_alt,description
0,1,I,Bulbasaur,Fushigidane,grass,poison,Seed Pokémon,88.14,11.86,0.7,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,NaN,NaN,NaN,There is a plant seed on its back right from t...
1,2,I,Ivysaur,Fushigisou,grass,poison,Seed Pokémon,88.14,11.86,1.0,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,NaN,NaN,NaN,"When the bulb on its back grows large, it appe..."
2,3,I,Venusaur,Fushigibana,grass,poison,Seed Pokémon,88.14,11.86,2.0,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,Gigantamax Venusaur,Mega Venusaur,NaN,Its plant blooms when it is absorbing solar en...
42,43,I,Oddish,Nazonokusa,grass,poison,Weed Pokémon,50.2,49.8,0.5,...,Level,Gloom,Use Leaf Stone,Vileplume,Use Sun Stone,Bellossom,NaN,NaN,NaN,"If exposed to moonlight, it starts to move. It..."
43,44,I,Gloom,Kusaihana,grass,poison,Weed Pokémon,50.2,49.8,0.8,...,Level,Gloom,Use Leaf Stone,Vileplume,Use Sun Stone,Bellossom,NaN,NaN,NaN,Its pistils exude an incredibly foul odor. The...
44,45,I,Vileplume,Ruffresia,grass,poison,Flower Pokémon,50.2,49.8,1.2,...,Level,Gloom,Use Leaf Stone,Vileplume,NaN,NaN,NaN,NaN,NaN,It has the world’s largest petals. With every ...
68,69,I,Bellsprout,Madatsubomi,grass,poison,Flower Pokémon,50,50,0.7,...,Level,Weepinbell,Use Leaf Stone,Victreebel,NaN,NaN,NaN,NaN,NaN,Prefers hot and humid places. It ensnares tiny...
69,70,I,Weepinbell,Utsudon,grass,poison,Flycatcher Pokémon,50,50,1.0,...,Level,Weepinbell,Use Leaf Stone,Victreebel,NaN,NaN,NaN,NaN,NaN,"When hungry, it swallows anything that moves. ..."
70,71,I,Victreebel,Utsubot,grass,poison,Flycatcher Pokémon,50,50,1.7,...,Level,Weepinbell,Use Leaf Stone,Victreebel,NaN,NaN,NaN,NaN,NaN,Lures prey with the sweet aroma of honey. Swal...
101,102,I,Exeggcute,Tamatama,grass,psychic,Egg Pokémon,50.2,49.8,0.4,...,Use Leaf Stone,Exeggutor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Though it may look like it’s just a bunch of e...

# Pokemons que são ruins contra água

In [46]:
weak_against_water_df = pokemon_df[pokemon_df['against_water'] > 1]

weak_against_water_df[['english_name', 'primary_type', 'against_water']]

    english_name primary_type  against_water
3     Charmander         fire            2.0
4     Charmeleon         fire            2.0
5      Charizard         fire            2.0
26     Sandshrew       ground            2.0
27     Sandslash       ground            2.0
..           ...          ...            ...
843   Sandaconda       ground            2.0
849   Sizzlipede         fire            2.0
850  Centiskorch         fire            2.0
866    Runerigus       ground            2.0
873  Stonjourner         rock            2.0

[155 rows x 3 columns]

# Pokemons muito ruins contra água

In [47]:
weak_against_water_df = pokemon_df[pokemon_df['against_water'] > 2]

weak_against_water_df[['english_name', 'primary_type', 'against_water']]

    english_name primary_type  against_water
73       Geodude         rock            4.0
74      Graveler         rock            4.0
75         Golem         rock            4.0
94          Onix         rock            4.0
110      Rhyhorn       ground            4.0
111       Rhydon       ground            4.0
218     Magcargo         fire            4.0
245     Larvitar         rock            4.0
246      Pupitar         rock            4.0
321        Numel         fire            4.0
322     Camerupt         fire            4.0
463    Rhyperior       ground            4.0
837       Carkol         rock            4.0
838    Coalossal         rock            4.0

# Pokemons que são fracos contra água e terra ao mesmo tempo

In [48]:
weak_against_water_df = pokemon_df[(pokemon_df['against_water'] > 1) & (pokemon_df['against_ground'] > 1)]
weak_against_water_df [['english_name', 'against_water', 'against_ground']]

    english_name  against_water  against_ground
3     Charmander            2.0             2.0
4     Charmeleon            2.0             2.0
30     Nidoqueen            2.0             2.0
33      Nidoking            2.0             2.0
36        Vulpix            2.0             2.0
..           ...            ...             ...
814    Cinderace            2.0             2.0
836     Rolycoly            2.0             2.0
837       Carkol            4.0             4.0
838    Coalossal            4.0             4.0
873  Stonjourner            2.0             2.0

[101 rows x 3 columns]

# Tratamento de linhas 'NaN'

In [49]:
mega_df = pokemon_df[['english_name','mega_evolution']]

In [50]:
mega_df

    english_name mega_evolution
0      Bulbasaur            NaN
1        Ivysaur            NaN
2       Venusaur  Mega Venusaur
3     Charmander            NaN
4     Charmeleon            NaN
..           ...            ...
893    Regieleki            NaN
894    Regidrago            NaN
895    Glastrier            NaN
896    Spectrier            NaN
897      Calyrex            NaN

[898 rows x 2 columns]

In [52]:
mega_df = pokemon_df[pokemon_df['mega_evolution'].notna()]
mega_df [['english_name', 'mega_evolution']]

    english_name    mega_evolution
2       Venusaur     Mega Venusaur
5      Charizard  Mega Charizard X
8      Blastoise    Mega Blastoise
14      Beedrill     Mega Beedrill
17       Pidgeot      Mega Pidgeot
64      Alakazam     Mega Alakazam
79       Slowbro      Mega Slowbro
93        Gengar       Mega Gengar
114   Kangaskhan   Mega Kangaskhan
126       Pinsir       Mega Pinsir
129     Gyarados     Mega Gyarados
141   Aerodactyl   Mega Aerodactyl
149       Mewtwo     Mega Mewtwo X
180     Ampharos     Mega Ampharos
207      Steelix      Mega Steelix
211       Scizor       Mega Scizor
213    Heracross    Mega Heracross
228     Houndoom     Mega Houndoom
247    Tyranitar    Mega Tyranitar
253     Sceptile     Mega Sceptile
256     Blaziken     Mega Blaziken
259     Swampert     Mega Swampert
281    Gardevoir    Mega Gardevoir
301      Sableye      Mega Sableye
302       Mawile       Mega Mawile
305       Aggron       Mega Aggron
307     Medicham     Mega Medicham
309    Manectric    Mega Manectric
318     Sharpedo     Mega Sharpedo
322     Camerupt     Mega Camerupt
333      Altaria      Mega Altaria
353      Banette      Mega Banette
358        Absol        Mega Absol
361       Glalie       Mega Glalie
372    Salamence    Mega Salamence
375    Metagross    Mega Metagross
379       Latias       Mega Latias
380       Latios       Mega Latios
383     Rayquaza     Mega Rayquaza
427      Lopunny      Mega Lopunny
444     Garchomp     Mega Garchomp
447      Lucario      Mega Lucario
459    Abomasnow    Mega Abomasnow
474      Gallade      Mega Gallade
530       Audino       Mega Audino
718      Diancie      Mega Diancie